@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
	--paleBlue: hsl(225, 100%, 94%);
	--brightBlue: rgb(56, 41, 224);
	--verypaleblue: hwb(228 96% 0%);
	--desaturatedBlue: hsl(224, 23%, 55%);
	--darkBlue: hsl(223, 47%, 23%);
	--shadowBlue: rgba(56, 41, 224, 0.5);
}

body {
	min-width: 400px;
	min-height: 100vh;
	background-color: var(--paleBlue);
	background-image: url("./images/pattern-background-mobile.svg");
	background-repeat: no-repeat;
	background-size: contain;
	font-family: "Red Hat Display", "sans-serif";
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

main {
	width: 80vw;
	border-radius: 8px;
}

@media screen and (min-width: 1000px) {
	body {
		background-image: url("./images/pattern-background-desktop.svg");
	}
	main {
		width: 30vw;
	}
}

.image__illustration {
	border-radius: 1rem 1rem 0 0;
	width: 100%;
}

.order {
	width: 100%;
	text-align: center;
	background-color: var(--verypaleblue);
	padding: 2rem 1rem;
	border-radius: 0 0 1rem 1rem;
}

.order h1 {
	color: var(--darkBlue);
	margin-block-start: 0;
	font-size: 1.5rem;
	font-weight: 900;
	margin-bottom: 1.5rem;
}

.order p {
	color: var(--desaturatedBlue);
	margin-bottom: 1.5rem;
	margin-block-start: 0;
}

.order__charge {
	background-color: var(--paleBlue);
	display: flex;
	align-items: center;
	border-radius: 0.8rem;
	font-weight: 700;
	padding: 1rem;
	margin-bottom: 1.5rem;
}

.order__charge p {
	flex-grow: 1;
	text-align: left;
	margin-block-end: 0 !important;
	padding: 0 1rem;
	color: var(--darkBlue);
}

.order__charge p span {
	display: block;
	font-weight: 500;
	color: var(--desaturatedBlue);
}

.order__charge a {
	color: var(--brightBlue);
}

.order__payment {
	width: 100%;
	background-color: var(--brightBlue);
	border: none;
	color: var(--verypaleblue);
	border-radius: 0.8rem;
	padding: 0.8rem;
	font-weight: 600;
	margin-bottom: 1.5rem;
	box-shadow: 0 0.5rem 1rem var(--shadowBlue);
}

.order__payment:hover {
	cursor: pointer;
	opacity: 0.8;
}

.order__cancel {
	background-color: var(--verypaleblue);
	border: none;
	font-weight: 700;
	color: var(--desaturatedBlue);
}
